.keys{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.key{
    border: 1px solid black;
    display: flex;
    margin: 1vh;
    align-items: center;
    flex-direction: column;
    width: 100%;
    transition: all ease-in-out .042s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.65);
    background: #eaeaea;
}

kbd{
    font-size: 3vh;
}

.playing{
    transform: scale(1.1);
    border: 1px solid yellow;
}